@model Contacts
@{
    ViewData["Title"] = "Contacts-Create";
}
<form method="post">

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Contact</h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger mt-0 mb-1 ms-3"></div>
        <div class="mb-2 text-info">
            <label asp-for="Name" class="mb-1" ></label> <i class="bi bi-person-fill text-light"></i>
            <input asp-for="Name" placeholder="Write your name here." type="text" class="form-control mb-3" />
            <label asp-for="Phone" class="mb-1"></label>    <i class="bi bi-telephone text-light"></i>
            <input asp-for="Phone" type="number" placeholder="Write your phone number here." class="form-control mb-3" />
            <label asp-for="Email" class="mb-1"></label>    <i class="bi bi-envelope-at text-light"></i>
            <input asp-for="Email" placeholder="Write your email here." class="form-control mb-3" />
        </div>
        <button type="submit" class="btn btn-primary m-1" style="width:150px;" onmouseover="this.style.color='#2ecc71'" onmouseout="this.style.color='#f7f9f9'">Create</button>
        <a asp-controller="Contacts" asp-action="Index" class="btn btn-light" style="width:200px;">Back to Contacts</a>
    </div>
    
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}