@model IEnumerable<Contacts>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-0 text-light">
    <div class="row pt-4">
        <div class="col-6">
        <h1 class="primary">Contacts List</h1>
        </div>
    <div class="col-6 text-end">
            <a asp-controller="Contacts" asp-action="Create" class="btn btn-primary" onmouseover="this.style.color='#2ecc71'" onmouseout="this.style.color='#f7f9f9'">
                <i class="bi bi-person-fill-add"></i> Create
            </a>
    </div>
    </div>
    <div class="container m-0 p-0">
        <header class="header bg-primary" >
            <form class="search-bar border-1" >
                <input type="search-name" class="contact-search" name="search-area" placeholder="Search" style="background-color:dimgray; color:white" />
            </form>
        </header>
        @foreach (var obj in Model)
        {  
        <section class="contacts-library m-4">
                <div class="contacts-section">
                        <a asp-controller="Contacts" asp-action="Detail" asp-route-id="@obj.Id"><p class="contact-name m-2" onmouseover="this.style.color='#387ADF'" onmouseout="this.style.color='#f7f9f9'">@obj.Name</p></a>
                        <p><a asp-controller="Contacts" asp-action="Edit" asp-route-id="@obj.Id" ><i class="bi bi-pencil text-success m-1">Edit</i></a> <a asp-controller="Contacts" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash-fill text-danger">Delete</i></a></p>
                </div>
        <hr style="border-top: 1px solid #387ADF;" />
        </section>

        }
</div>  


